{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 920px;
  height: 745px;
  border: 5px solid Darkblue;
}


.tablet {
  display: inline-block;
  position: relative;
  border: 2px solid salmon;
}

.iphone {
  display: inline-block;
  position: relative;
  border: 2px solid salmon;
  margin-top: 2px;
}

.cuffia {
  display: inline-block;
  position: relative;
  border: 2px solid salmon;
  margin-top: 2px;
}

.sconto-30{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  margin-top: 2px;
}

.sconto-5{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.cuore{
  display: none;
  position: absolute;
  bottom:0;
  right: 50%;
}

.tablet:hover .cuore{
  color: red;
  display:block;
}

.iphone:hover .cuore{
  color: red;
  display:block;
}

.cuffia:hover .cuore .cuore{
  color: red;
  display:block;
}
